# Dependencies
node_modules/
frontend/node_modules/
frontend/dist/
frontend/dist-electron/
frontend/release/

# Go
backend/*.exe
backend/bin/
backend/vendor/

# Database
*.db
*.db-shm
*.db-wal

# Environment
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
desktop.ini

# Build artifacts
*.exe
*.dll
*.so
*.dylib
dist/
build/

# Logs
*.log
logs/

release/

# Terraform
backend/**/.terraform/
backend/**/.terraform.lock.hcl
backend/**/terraform.tfstate
backend/**/terraform.tfstate.backup

release/
